* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.green-text {
    color: #48D1B6;
}

.blank-text {
    color: white;
}

.black-text {
    color: black;
}

.green-button {
    background-color: #48D1B6;
    width: 200px;
    height: 50px;
    border-radius: 35px;
    border: none;
    cursor: pointer;
}

#main-logo {
    font-size: 64px;
    font-weight: 100;
}

#top-bar {
    background-color: #4471E9;
    height: 30px;
    width: 100vw;
    position: float;
}

nav {
    width: 100vw;
    background-color: #4471E9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#nav-logo-1 {
    font-weight: 100;
}

#nav-ul {
    list-style: none;
}

#nav-link {
    padding: 20px;
    font-weight: 400;
}

#screen-1 {
    background-color: #4471E9;
    height: 602px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#image-logo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -260px;
}

#icons-decoration {
    width: 30px;
    height: 30px;
}

.icon-1 {
    position: absolute;
    top: 65%;
    left: 33%;
}

.icon-2 {
    position: absolute;
    top: 75%;
    left: 21%;
}

.icon-3 {
    position: absolute;
    top: 86%;
    left: 28%;
}

.icon-4 {
    position: absolute;
    top: 93%;
    left: 15%;
}

.icon-5 {
    position: absolute;
    top: 65%;
    left: 70%;
}

.icon-6 {
    position: absolute;
    top: 88%;
    left: 66%;
}

.icon-7 {
    position: absolute;
    top: 76%;
    left: 80%;
}

.icon-8 {
    position: absolute;
    top: 93vh;
    left: 88vw;
}

#screen-2 {
    background-color: white;
    height: 180px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}